#projects{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 65vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    gap: 2rem;
    text-align: center;
    padding: 3rem 1rem;
    background-color: rgb(38 51 76);
    border: 1px solid black;
    border-radius: 1rem;
    margin-top: 4rem;
}

.projectsTitle{
    font-size: 3rem;
}

.projectsDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 55vw;
}

.projectDivs{
    min-width: 80vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    width: 100vw;
    max-width: 100vw;
}

.projectItem{
    min-height: 27rem;
    width: 70vw;
    max-width: 55vw;
    padding: 2.5rem;
    background-color: #495cb2;
    border-radius: 1rem;
}

.projectItemDesc{
    max-width: 80vw;
    max-height: fit-content;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.projectLink{
    max-width: 60%;

}

.techStackItem{
    border: 1px solid rgb(30, 30, 30);
    color: rgb(30, 30, 30);;
    background-color: rgb(79 187 200);
    border-radius: 2rem;
    padding: 0.7rem;
}

.projectsBtn{
        border: none;
        background: white;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.7rem 2rem;
        border-radius: 2rem;
        margin: 1rem 0;
        font-size: 1.2rem;
}

.projectTitle{
    font-size: 2rem;
    margin: 1rem 0;
}

.projectStack, .projectLinks{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: auto;
    margin-top: 2rem;
    flex-wrap: wrap;
    min-width: 100%;
}

@media screen and (max-width: 650px){
    .projectStack{
        display: none;
    }

    .projectItem{
        min-width: 75%;
    }
    
    #projects{
        min-width: 92vw;
        }
}

@media screen and (max-width: 480px){
    /* .skillBarText>p, .skillBarText>h2{
        font-size: 1.25rem;
    } */

    
}