#projects{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    gap: 2rem;
    text-align: center;
    padding: 5rem 1rem;
    background-color: rgb(30, 30, 30);
}

.projectsTitle{
    font-size: 3rem;
    margin: 1rem 0;
}

.projectsDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 55vw;
}

.projectDivs{
    min-width: 80vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    width: 100vw;
    max-width: 100vw;
    padding: 3rem 0;
}

.projectItem{
    min-height: 30rem;
    width: 70vw;
    max-width: 55vw;
    max-height: 1rem;
    padding: 2.5rem;
    overflow: auto;
    background-color: #495cb2;
    border-radius: 1rem;
}

.projectItemDesc{
    max-width: 80vw;
    max-height: fit-content;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.projectLinks{
    width: 100vw;
}

.techStackItem{
    border: 1px solid rgb(30, 30, 30);
    border-radius: 2rem;
    padding: 0.7rem;
}

.projectsBtn{
        border: none;
        background: white;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.7rem 2rem;
        border-radius: 2rem;
        margin: 1rem 0;
        font-size: 1.2rem;
}

.projectTitle{
    font-size: 2rem;
    margin: 1rem 0;
}

.projectStack, .projectLinks{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

@media screen and (max-width: 585px){
    .projectItem{
        height:  48vw;
    }
}