#skills{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    max-width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    padding: 3rem 1rem;
    background-color:rgb(38 51 76);
    border: 1px solid black;
    border-radius: 1rem;
}

.sectionTitle{
    font-size: 3rem;
    font-weight: 600;
}

.skillsDesc{
    font-weight: 400;
    font-size: 1rem;
    max-width: 55vw;
}

.skillBars{
    width: 100vw;
    max-width: 85%;
    text-align: left;
}

.skillBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background-color: #495cb2;;
}

.skillBarImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.skillBarText>p{
    font-size: 0.9rem;
    font-weight: 200;
}

@media screen and (max-width: 720px){
    .skillBarText>p{
        font-size: 1rem;
    }

    .skillBars{
        max-width: 100%;
    }
}

@media screen and (max-width: 650px){
    .skillBarText>p, .skillBarText>h2{
        font-size: 1.25rem;
    }

    #skills{
    min-width: 92vw;
    }

    .skillBarImg{
        height: 2.25rem;
        width: 2.25rem;
    }

    .skillsDesc{
        max-width: 75vw;
    }
}