#skills{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    max-width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    gap: 2rem;
    text-align: center;
    padding: 2rem 1rem;
    background-color: #333333;
    border: 1px solid black;
    border-radius: 1rem;
}

.skillsTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
}

.skillsDesc{
    font-weight: 400;
    font-size: 1rem;
    max-width: 55vw;
}

.skillBars{
    width: 100vw;
    max-width: 85%;
    text-align: left;
}

.skillBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background-color: #495cb2;;
}

.skillBarImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.skillBarText>p{
    font-size: 0.9rem;
    font-weight: 200;
}

@media screen and (max-width: 720px){
    .skillBarText>p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px){
    .skillBarText>p{
        font-size: 1.5rem;
    }

    .skillBarImg{
        height: 2.25rem;
        width: 2.25rem;
    }

    .skillBarText{
        
    }
}