#contact{
    margin: 0 auto;
    min-height: fit-content;
    height: 40vw;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding: 3rem 1rem;
    background-color: rgb(38 51 76);
    border: 1px solid black;
    border-radius: 1rem;
    margin: 4rem auto;
}

.sectionTitle {
    font-size: 3rem;
}

.contactPage {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    gap: 2rem;
    text-align: center;
    padding: 5rem 1rem;
    background-color: rgb(30, 30, 30);
}

.contactForm{
    border-radius: 1rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 75%;
    background-color: #495cb2;
}

.name, .email, .msg{
    font-size: medium;
    max-width: 75%;
    min-width: 75%;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    background: rgb(40,40,40);
}

.submitBtn{
    background: #ffffff;
    border: none;
    padding: 0.75rem 3.5rem;
    border-radius: 0.5rem;
    margin: 2rem;
}

.contactDesc{
    font-size: medium;
    font-weight: 300;
}

.experienceTitle{
    font-size: 2rem;
    margin: 1rem 0;
}

.experienceItem{
    min-height: 25rem;
    width: 70vw;
    max-width: 62vw;
    padding: 2.5rem;
    border-radius: 1rem;
    background-color: #333333;
    border: 1px solid black;
}

.certificationLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
    background-color: #495cb2;
    border-radius: 1rem;
    padding: 4rem 1rem;
}

.certificationLinks > li > a{
    margin: auto;
}

.links{
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}

@media (min-width: 360px) {
.contactForm > .submitBtn {
    padding: 0.75rem 1.5rem;
    margin: 1rem;
}

#contact{
    min-width: 92vw;
}

.contactForm{
    min-width: 100%
}

}

@media (min-width: 768px) {
    #contact{
        min-width: 60vw;
    }
    .contactForm{
        min-width: 80%
    }
}