#experience{
    margin: 0 auto;
    min-height: calc(92vh - 4rem);
    height: 40vw;
    max-width: 65vw;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    gap: 2rem;
    text-align: center;
    padding: 5rem 1rem;
    background-color: rgb(38 51 76);
    border: 1px solid black;
    border-radius: 1rem;
}

.experienceDivs{
    min-width: 80vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    width: 100vw;
}

.sectionTitle {
    font-size: 3rem;
}

.sectionh3{
    font-size: 2rem;
    margin: 1rem 0;
}

.experienceItem{
    min-height: 25rem;
    width: 70vw;
    max-width: 62vw;
    padding: 2.5rem;
    border-radius: 1rem;
    background-color: #333333;
    border: 1px solid black;
}

.certifications{
    width: 56vw;
}

.certificationLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
    background-color: #495cb2;
    border-radius: 1rem;
    padding: 4rem 1rem;
}

.certificationLinks > li > a{
    margin: auto;
}

.links{
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}

@media screen and (max-width: 650px){
    .experienceDivs{
        min-width: 75%;
    }

    .certifications {
        max-width: 75%;
    }
    
    #experience{
        min-width: 92vw;
        }
}
